<!-- <app-navbar></app-navbar> -->
<!-- <app-sidebar></app-sidebar> -->
<!-- start section1 -->
<div class="rounded bg-light company">
    <h2 class="mb-5">Sales Invoice</h2>
    <h4>Bills Details</h4>
    <hr>
    <form [formGroup]="billsForm">
        <div class="input">
            <label class="bill-date" >Bills Date:</label>
            <input type="date" class="form-control bill-date-input" formControlName="billsDate" [(ngModel)]="billDate"/>
        </div>
        <div class="text-danger ms-5">{{billRequiredError}}</div>
        <div class="input">
            <label class="bill-num">Bills Number:</label>
            <input type="text" class="form-control bill-num-input" formControlName="billsNumber" [(ngModel)]="billNumber"/>
        </div>
        <div class="input">
            <label class="client">Client Name:</label>
            <select  class="form-control dropdown-toggle  client-select" formControlName="clientName" [(ngModel)]="clientName" >
                <option disabled selected>-- Choose From Clients --</option>
                @for(client of clientList; track $index)
                {
                    <option>{{client.name}}</option>
                }
            </select>
        </div>
        <div class="text-danger ms-5">{{clientRequiredError}}</div>
        <h4>Item Details</h4>
        <hr>
        <div class="input">
            <label class="client">Items Name:</label>
            <select  class="form-control dropdown-toggle client-select" formControlName="itemName" [(ngModel)]="itemName" (change)="ChangeItem()" >
                <option disabled selected>-- Choose From Items --</option>
                @for(item of itemList;track $index){
                    <option>{{item.name}}</option>
                }
            </select>
        </div>
        <div class="text-danger ms-5">{{itemRequiredError}}</div>
        <div class="input">
            <label class="sell-price">Selling Price:</label>
            <input type="text" class="form-control sell-price-input" formControlName="sellingPrice" [(ngModel)]="sellingPrice" (input)="calculateTotal()"/>
        </div>
        <div class="input">
            <label class="unit">Unit:</label>
            <select  class="form-control unit-input" formControlName="unit" [(ngModel)]="unit" >
                <option disabled selected>-- Choose From Units --</option>
                @for(unit of unitList;track $index){
                    <option>{{unit.name}}</option>
                }
            </select>
        </div>
        <div class="input">
            <label class="quantity">Quantity:</label>
            <input type="text" class="form-control quantity-input" formControlName="quantity" [(ngModel)]="quantity" (input)="calculateTotal()" />
        </div>
        <div class="text-danger ms-5">{{quantityRequiredError}}</div>
        <div class="text-danger ms-5">{{quantityZeroError}}</div>
        <!-- <div class="text-danger ms-5">{{outOFStockError}}</div> -->
        <div class="text-danger ms-5">{{quantityGraterError}}</div>
        <div class="input">
            <label class="total">Total:</label>
            <input type="text" class="form-control total-input" formControlName="total" [(ngModel)]="total"/>
        </div>
        <div class="button-add">
            <button (click)="AddSubmit($event)" class=" bg-success rounded text-light"><i class="bi bi-floppy text-light m-1"></i>Add</button>
        </div>
    </form>
</div>
<!-- end section1 -->



<!-- start section2 -->
<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Item Code</th>
        <th scope="col">Item Name</th>
        <th scope="col">Unit</th>
        <th scope="col">Quantity</th>
        <th scope="col">Selling Price</th>
        <th scope="col">Discount</th>
        <th scope="col">Total</th>
        <th scope="col">Balance</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        @for(bill of billTableItem;track $index){
            <tr>
                <td>{{bill.id}}</td>
                <td>{{bill.name}}</td>
                <td>{{bill.unit}}</td>
                <td>{{bill.quantity}}</td>
                <td>{{bill.sellingPrice}}</td>
                <td>{{bill.discount}}</td>
                <td>{{bill.total}}</td>
                <td>{{bill.balance}}</td>
                <td>
                    <button class="btn btn-danger m-1 p-1 text-light" (click)="delete(bill.id)">Delete</button>
                </td>
              </tr>
        }
    </tbody>
  </table>
<!-- end section2 -->



<!-- start section3 -->
  <div class="rounded bg-light company">
    <h4>Other Details</h4>
    <hr>
    <form [formGroup]="discountForm">
        <div class="input">
            <label class="bill-date" >Bills Total:</label>
            <input type="text" class="form-control bill-date-input" formControlName="billsTotal" [(ngModel)]="billsTotal"/>
        </div>
        <div class="input">
            <label class="percentage" >Percentage Discount:</label>
            <input type="text" class="form-control percentage-input" formControlName="percentageDiscount" [(ngModel)]="percentage" (input)="checkPercentage()" (input)="calculateDiscount()" (input)="calculateNet()" />
        </div>
        <div class="text-danger ms-5">{{percentageError}}</div>
        <div class="input">
            <label class="value" >Value Discount:</label>
            <input type="text" class="form-control value-input" formControlName="valueDiscount" [(ngModel)]="discountValue" (input)="checkValue()" (input)="calculateNet()"/>
        </div>
        <div class="text-danger ms-5">{{discountValueError}}</div>
        <div class="input">
            <label class="net" >The Net:</label>
            <input type="text" class="form-control net-input" formControlName="theNet" [(ngModel)]="net" (input)="calculateRest()" />
        </div>
        <div class="input">
            <label class="net" >Paid Up:</label>
            <input type="text" class="form-control net-input"formControlName="paidUp" [(ngModel)]="paidUp" (input)="checkPaid()" (input)="calculateRest()" />
        </div>
        <div class="text-danger ms-5">{{paidError}}</div>
        <div class="input ">
            <label class="rest" >The Rest:</label>
            <input type="text" class="form-control net-input"formControlName="theRest" [(ngModel)]="rest"/>
        </div>
    </form>
  </div>
<!-- end section3 -->



<!-- start section4 -->
<div class="rounded bg-light company">
    <h2>Request A Form</h2>
    <form [formGroup]="employeeForm">
        <div class="input">
            <label class="Employee">Employee Name:</label>
            <select  class="form-control dropdown-toggle employee-select" formControlName="employeeName" [(ngModel)]="employeeName" >
                <option disabled selected>-- Choose From Employees --</option>
                @for(employee of employeeList;track $index){
                    <option>{{employee.firstName + " " + employee.lastName}}</option>
                }
            </select>
        </div>
        <div class="text-danger ms-5">{{employeeNameError}}</div>
        <div class="input">
            <label class="date" >Date:</label>
            <input type="date" class="form-control date-input" formControlName="date" [(ngModel)]="date"/>
        </div>
        <div class="text-danger ms-5">{{dateError}}</div>

        <div class="input">
            <label class="start-time" >Start Time:</label>
            <input type="time" class="form-control start-time-input" formControlName="startTime" [(ngModel)]="startTime"/>
        </div>
        <div class="input">
            <label class="end-time" >End Time:</label>
            <input type="time" class="form-control end-time-input" formControlName="endTime" [(ngModel)]="endTime"/>
        </div>
        <div class="text-danger ms-5">{{timeError}}</div>
        <div class="button">
            <button (click)="FinalSubmit($event)" class=" bg-success rounded text-light save"><i class="bi bi-floppy text-light m-1"></i>Save</button>
            <button (click)="Cancel()" class=" bg-danger rounded text-light"><i class="bi bi-trash3 text-light"></i>Cancel</button>
        </div>
    </form>
</div>
<!-- end section4 -->

<div class="clear"></div>
<!-- <app-footer></app-footer> -->

