<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="rounded bg-light company">
    <h2>Types Form</h2>
    <form [formGroup]="typeForm">
    <div class="input">
        <label>Company Name:</label>
        <select  class="form-control dropdown-toggle"  data-bs-toggle="dropdown" [(ngModel)]="companyValue" name="CompanyValue" formControlName="companyName" >
            <option disabled selected>-- Choose From Companies --</option>
            @for(company of companyList; track $index){
                <option>{{company}}</option>
            }
        </select>
    </div>
    @if(companyReqFlag){<div class="text-danger ms-5">{{companyRequiredError}}</div>}
    <div class="input">
        <label class="type">Type Name:</label>
        <input type="text" class="form-control type-input" FormControlName="name" [(ngModel)]="typeName" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div class="text-danger ms-5">{{duplicateError}}</div>
    <div class="text-danger ms-5">{{TypeRequiredError}}</div>
    <div class="input input-notes">
        <label class="notes">notes:</label>
        <textarea cols="20" rows="3" class="form-control" formControlName="notes" [(ngModel)]="notes" name="notes" ></textarea>
    </div>
    <div class="button">
        <button (click)="Submit($event)" class=" bg-success rounded text-light save"><i class="bi bi-floppy text-light m-1"></i>Save</button>
        <button (click)="Cancel()" class=" bg-danger rounded text-light"><i class="bi bi-trash3 text-light"></i>Cancel</button>
    </div>
</form>
</div>
<app-footer>,</app-footer>