<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <img src="images/pioneers.png" class="logo-img">
      <a class="navbar-brand logo" href="#">Bill System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-left">
          <li class="nav-item">
            <i class="bi bi-fullscreen me-2"></i>
          </li>
          <li class="nav-item">
            <i class="bi bi-cart me-2"></i>
          </li>
          
        </ul>
        <ul class="nav-right">
          <i class="bi bi-search me-3"></i>
          <i class="bi bi-flag dropdown-toggle me-3" data-bs-toggle="dropdown"></i>
          <i class="bi bi-bell dropdown-toggle me-3" data-bs-toggle="dropdown"></i>
          <img src="images/volume.png" class="volume-img me-3"/>
          <img src="images/profile.jpg" class="profile-img me-1"/>
          <i class="dropdown-toggle me-3" data-bs-toggle="dropdown"></i>
        </ul>
      </div>
    </div>
  </nav>
