<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pioneers</title>
  </head>
  <body>
    <!-- <app-navbar></app-navbar> -->
    <!-- <app-sidebar></app-sidebar> -->
    <!-- <app-home></app-home>  -->
    <!-- <app-company></app-company> -->
    <!-- <app-types></app-types> -->
    <!-- <app-unit></app-unit> -->
    <!-- <app-items></app-items> -->
    <!-- <app-clients></app-clients> -->
    <!-- <app-invoices></app-invoices> -->
    <!-- <app-report></app-report> -->
    <!-- <app-stock></app-stock> -->
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
  </body>
</html>
