<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<!-- start-slider -->
<div id="carouselExampleIndicators" class="carousel slide slider">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/slider2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/slider6.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="images/slider7.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="clear"></div>
<!-- end-slider -->

<h1>Welcome To Our Billing Website</h1>
<section class="phones">
  <h2 class="text-center manage">Manage your cash flow with <br>dynamic billing software</h2>
  <app-phone1></app-phone1>
  <app-phone2></app-phone2>
  <app-phone3></app-phone3>
</section>

<section class="our-sponsors">
<h2 class="sponsors">Our Sponsors</h2>
<img src="images/Kempinski.png">
<img src="images/Halo.png">
<img src="images/Dippindots.png">
<img src="images/Power-Financial-CU.png">
</section>

<section>
  <h2 class="about-us">About Us</h2>
  <div class="flex">
    <p class="about">
      Welcome to Pioneer billing , your trusted partner in simplifying billing and payment processes. We understand that managing finances can be overwhelming, especially when it comes to tracking invoices, processing payments, and ensuring timely transactions. That’s why we’ve developed a robust platform designed to make billing easier, faster, and more efficient for businesses of all sizes
    </p>
    <img src="images/company.jpg" class="company">
  </div>
</section>
<app-footer></app-footer>

