.company{
    margin:30px;
    padding: 30px;
    float: right;
    width: 950px;

}

.input{
    margin:20px;
    display: flex;
}

input,select{
    margin:0px 10px 10px 10px;
    width: 700px;
    border: 1px solid #c7c7c7;
    
}




button{
    border: none;
    padding: 5px;
    width: 90px;
    height: 40px;
    margin: 10px;

}
.button{
    margin-left: 600px;
}

i{
    display: inline-block;
}


.save{
    margin-left: 50px;
}

table{
    width:950px;
    margin-left: 250px;
    margin-top: -250px;
    margin-bottom: 250px;

    
}
td{
    background-color: #f8f9fa;
}

th{
    background-color:#e6f0f5 ;
}
.clear{
    clear: both;
}