<ul>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <i class="bi bi-house-door text-light"></i>
        <a [routerLink]="['/home']" >Home</a>
    </li>
    <li *ngIf="isAdministrator" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <i class="bi bi-person-gear text-light"></i>
        <a [routerLink]="['/users']" >Users</a>
    </li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <i class="bi bi-pencil-square text-light me-1"></i>
        <a [routerLink]="['/company']">Company Data</a>
    </li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <i class="bi bi-grid text-light me-1"></i>
        <a [routerLink]="['/types']">Types</a>
    </li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <i class="bi bi-pie-chart me-1"></i>
        <a [routerLink]="['/units']">All Units</a>
    </li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <i class="bi bi-layers me-1"></i>
        <a [routerLink]="['/items']">Items</a>
    </li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <i class="bi bi-people-fill text-light me-1"></i>
        <a [routerLink]="['/clients']">Clients</a>
    </li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <i class="bi bi-sliders2-vertical text-light me-1"></i>
        <a [routerLink]="['/invoices']">Invoices</a>
    </li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <i class="bi bi-bar-chart-line text-light me-1"></i>
        <a [routerLink]="['/report']">Sales Report</a></li>
    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <i class="bi bi-box-seam text-light me-1"></i>
        <a [routerLink]="['/stock']">Stock</a></li>
</ul>
