<div class="container">
    <form (ngSubmit)="onSubmit()"  #loginForm="ngForm">
        <img src="images/logo.png">
        <div class="username">
            <label>User Name</label>
            <input type="text" ngModel required>
            <div *ngIf="loginForm.controls.username?.invalid && loginForm.controls.username?.touched">  
                <small>Username is required.</small>  
              </div> 
        </div>
        <div class="password">
            <label>Password</label>
            <input type="password" ngModel required>
            <div *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched">  
                <small>Password is required.</small>  
              </div> 
        </div>
        <button [routerLink]="['/home']" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>
