.container{
    background-color: white;
    border-radius: 10px;
    width:350px;
    margin-top: 150px;
}

img{
    width: 150px;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
}

label{
    font-weight: bold;
    margin:20px;
    color: #296888;
}

.password{
    margin-left: 10px;
}

input{
    border-radius: 5px;
    border: solid 1px #296888 ;
}

input:focus{
    border: solid 2px #296888 ;
    outline:#296888 ;
}

button{
    color:white;
    background-color: #296888 ;
    border:solid 1px transparent;
    border-radius: 7px;
    margin:10px;
    margin-left: 130px;
    padding: 6px 10px;
    font-weight: bold;
}