<div class="container mt-4">
  <h1 class="text-center mb-4 text-muted">
    {{ invoiceId ? "Edit Invoice" : "Add New Invoice" }}
  </h1>
  <form
    [formGroup]="invoiceForm"
    (ngSubmit)="saveInvoice()"
    class="bg-light p-4 rounded shadow"
  >
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="billNumber" class="form-label">Bill Number</label>
        <input
          type="text"
          formControlName="billNumber"
          class="form-control"
          id="billNumber"
          placeholder="Bill Number"
        />
      </div>
      <div class="col-md-6">
        <label for="creationDate" class="form-label">Bill Date</label>
        <input
          type="date"
          formControlName="creationDate"
          class="form-control"
          id="creationDate"
        />
        <div
          *ngIf="
            invoiceForm.get('creationDate')?.touched &&
            invoiceForm.get('creationDate')?.invalid
          "
          class="text-danger"
        >
          Bill Date is required.
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="clientName" class="form-label">Client Name</label>
        <input
          type="text"
          formControlName="clientName"
          class="form-control"
          id="clientName"
          placeholder="Client Name"
        />
        <div
          *ngIf="
            invoiceForm.get('clientName')?.touched &&
            invoiceForm.get('clientName')?.invalid
          "
          class="text-danger"
        >
          Client Name is required.
        </div>
      </div>
    </div>

    <div class="mb-4">
      <h5>Item Details</h5>
      <div formArrayName="invoiceItems">
        <div
          *ngFor="let item of invoiceItems.controls; let i = index"
          [formGroupName]="i"
          class="row mb-3"
        >
          <input type="hidden" formControlName="itemId" />

          <div class="col-md-4">
            <label for="itemName" class="form-label">Item Name</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              placeholder="Item Name"
            />
            <div
              *ngIf="item.get('name')?.touched && item.get('name')?.invalid"
              class="text-danger"
            >
              Item Name is required.
            </div>
          </div>
          <div class="col-md-4">
            <label for="sellingPrice" class="form-label">Selling Price</label>
            <input
              type="number"
              formControlName="sellingPrice"
              class="form-control"
              placeholder="Selling Price"
            />
          </div>
          <div class="col-md-4">
            <label for="quantity" class="form-label">Quantity</label>
            <input
              type="number"
              formControlName="quantity"
              class="form-control"
              placeholder="Quantity"
            />
            <div
              *ngIf="
                item.get('quantity')?.touched && item.get('quantity')?.invalid
              "
              class="text-danger"
            >
              Quantity is required and must be greater than zero.
            </div>
          </div>
          <button
            type="button"
            (click)="removeInvoiceItem(i)"
            class="btn btn-danger mt-4"
          >
            Remove
          </button>
        </div>
      </div>
      <button type="button" (click)="addInvoiceItem()" class="btn btn-primary">
        Add Item
      </button>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <button
        type="submit"
        class="btn btn-success mx-2"
        [disabled]="invoiceForm.invalid"
      >
        Save Invoice
      </button>
      <button type="button" (click)="goBack()" class="btn btn-secondary mx-2">
        Back to List
      </button>
    </div>
  </form>
</div>
