<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="rounded bg-light company">
    <h2>Company Data Form</h2>
    <button class="btn btn-primary text-light show" (click)="show()">Show All</button>
    <form [formGroup]="companyForm" >
        <div class="input">
            <label>Company Name:</label>
            <input type="text" class="form-control" formControlName="name" [(ngModel)]="companyName"/>
        </div>
        
        <div class="text-danger error">{{requiredError}}</div>
        <div class="text-danger error">{{duplicateError}}</div>
        <div class="input input-notes">
            <label class="notes">notes:</label>
            <textarea cols="20" rows="3" class="form-control" formControlName="notes" [(ngModel)]="companyNotes"></textarea>
        </div>
        <div class="button">
            <button (click)="Submit($event)" class=" bg-success rounded text-light save" ><i class="bi bi-floppy text-light m-1"></i>Save</button>
            <button (click)="Cancel()" class="bg-danger rounded text-light"><i class="bi bi-trash3 text-light"></i>Cancel</button>
        </div>
    </form>
</div>
<app-footer></app-footer>