.company{
    margin:30px;
    padding: 30px;
    float: right;
    width: 950px;

}

.input{
    margin:20px;
    display: flex;
}

input,select{
    margin:0px 10px 10px 10px;
    width: 700px;
    border: 1px solid #c7c7c7;
    
}




button{
    border: none;
    padding: 5px;
    width: 90px;
    height: 40px;
    margin: 10px;

}
.button{
    margin-left: 600px;
}
.button-add{
    margin-left: 755px;
}
i{
    display: inline-block;
}

.clear{
    clear: both;
}

.bill-date{
    margin-left: 27px;
}

.bill-date-input{
    margin-left: 40px;
}

.client{
    margin-left: 17px;
}

.client-select{
    margin-left: 30px;
}
.type{
    margin-left: 20px;
}


.type-select{
    margin-left: 33px;
}
.sell-price{
    margin-left: 17px;
}
.sell-price-input{
    margin-left: 30px;
}
.bill-num{
    margin-left: 17px;
}
.bill-num-input{
    margin-left: 25px;
}
.quantity{
    margin-left: 30px;
}
.quantity-input{
    margin-left: 42px;
}
.total{
    margin-left: 43px;
}
.total-input{
    margin-left: 55px;
}
table{
    width:950px;
    margin-left: 250px;

    
}
td{
    background-color: #f8f9fa;
}

th{
    background-color:#e6f0f5 ;
}

.percentage{
    margin-left: -15px;
}
.percentage-input{
    margin-left: 5px;
}
.value{
    margin-left: 5px;
}
.value-input{
    margin-left: 20px;
}
.net{
    margin-left: 30px;
}
.net-input{
    margin-left: 45px;
}
.rest{
    margin-left: 26px;
}
.date{
    margin-left: 40px;
}
.date-input{
    margin-left: 50px;
}
.start-time{
    margin-left: 20px;
}
.start-time-input{
    margin-left: 33px;
}
.end-time{
    margin-left: 23px;
}
.end-time-input{
    margin-left: 35px;
}
.save{
    margin-left: 50px
}

.unit{
    margin-left:50px;
    margin-top: 5px;
}
.unit-input{
    margin-left:55px;
}